

<h1 class="page-header"><%= @customer.name %></h1>


<div class="row">
  <div class="col-md-2 text-right">
    <strong>Email:</strong>
  </div>
  <div class="col-md-8">
    <%= @customer.email %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 text-right">
  <strong>Birthday:</strong>
  </div>
  <div class="col-md-8">
  <%= @customer.birthday %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 text-right">
  <strong>Description:</strong>
  </div>
  <div class="col-md-8">
  <%= @customer.description %>
  </div>
</div>

<br />
<div class="row">
  <div class="col-md-offset-2">
    <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-primary' %>
  </div>
</div>
